fastapi>=0.104.0
uvicorn[standard]>=0.23.2
pydantic>=2.4.2
pydantic-settings>=2.0.3
torch>=2.1.0
torchvision>=0.16.0
transformers>=4.35.0
opencv-python-headless>=4.8.1
insightface>=0.7.3
onnxruntime
numpy<2.0.0
python-multipart>=0.0.6
httpx>=0.25.0
